<div>
    <h2>Questi sono i campi disponibili: </h2> 
      <h6 style="padding-left: 1100px"> <a [routerLink]="['/court-insert-reactive', 0]">
        <button class="btn btn-outline-info">Aggiungi campo</button></a> 
      </h6>
</div>  

<div *ngIf="courts">
<table class='table'>
  <thead>
    <tr>
      <th>Nome campo</th>
      <th>Sport</th>
      <th>Prezzo</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor='let court of courts'>
      <td> <a [routerLink]="['/courts',court.id]">{{court.name}}</a></td>
      <td>{{court.sportString}}</td>
      <td>{{court.price | currency:'EUR':'symbol'}}</td>
    </tr>
  </tbody>
</table>

</div>
