<div class="card">

  <div class="card-header">
    <h5>Inserisci i dati:</h5>
  </div>

  <div class="card-body">
      <form novalidate (ngSubmit)="save()" [formGroup]="newReservationForm">

      <div class="form-group row mb-2" *ngIf="members">
        <label class="col-md-2 col-form-label" for="memberSelectId">Membri: </label>
        <div class="col-md-8">
          <div>
            <select [(ngModel)] = "member" class="form-control" id="memberSelectId" formControlName="memberName" (change) = "onMemberSelectedChange($event)">
                <option value="" disabled selected  hidden></option>
                <option *ngFor='let member of members' [ngValue]="member">{{member.name + " " + member.surname}}</option>
             </select>
          </div>
        </div>
      </div>
 
      <div class="form-group row mb-2" *ngIf="memberSelected">
        <label class="col-md-2 col-form-label" for="sportSelectId">Sports: </label>
        <div class="col-md-8">
          <div>
            <select class="form-control" id="sportSelectId" formControlName="sportType" (change) = "onSportSelectedChange($event)">
              <option value="" disabled selected hidden></option>
              <option *ngFor='let sport of sports'>{{sport}}</option>
             </select>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2" *ngIf="courts && sportIndex == 2">
        <label class="col-md-2 col-form-label" for="sportSelectId">Modalità: </label>
        <div class="form-check">         
            <input id ="soccerCheck1Id" formControlName = "checkSoccer" name="checkSoccer" (change)="onSoccerRadioSelected($event)" value=0 type="radio" class="form-check-input" [checked]="true"><label class="form-check-label" for="soccerCheck1Id">Calcio a 5</label>
            <br>
            <input id ="soccerCheck2Id" formControlName = "checkSoccer" name="checkSoccer" (change)="onSoccerRadioSelected($event)" value=1 type="radio" class="form-check-input"><label class="form-check-label" for="soccerCheck2Id">Calcio a 7</label>
        </div>
      </div>

      <div class="form-group row mb-2" *ngIf="courts && sportIndex == 0">
        <label class="col-md-2 col-form-label" for="sportSelectId">Modalità: </label>
        <div class="form-check">         
            <input id ="tennisCheck1Id" formControlName = "checkTennis" name="checkTennis" value="false" type="radio" class="form-check-input" [checked]="true"><label class="form-check-label" for="tennisCheck1Id">Singolo</label>
            <br>
            <input id ="tennisCheck2Id" formControlName = "checkTennis" name="checkTennis" value="true" type="radio" class="form-check-input"><label class="form-check-label" for="tennisCheck2Id">Doppio</label>
        </div>
      </div>

      <div class="form-group row mb-2" *ngIf="courts">
        <label class="col-md-2 col-form-label" for="courtSelectId">Campi: </label>
        <div class="col-md-8">
          <div>
            <select [(ngModel)] = "court" class="form-control" id="courtSelectId" formControlName="courtName" (change) = "onCourtSelectedChange($event)">
              <option value="" disabled selected hidden>Seleziona un campo</option>
              <option *ngFor='let court of courts'[ngValue]="court">{{court.name}}</option>
             </select>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2" *ngIf="courtSelected">
        <label class="col-md-2 col-form-label" for="dateSelectId">Data: </label>
        <div class="col-md-8">
          <div>
            <input type="datetime-local" class="form-control input-sm" id="dateSelectId" 
            formControlName="date" (change)="onDateSelectedChange($event)">
          <!--<span class="invalid-feedback">
            <span *ngIf="!!newReservationForm.get('date').errors?.required">
                Data non valida
            </span>
          </span>-->
         
          </div>
        </div>
      </div>


      <div class="form-group row mb-2"  *ngIf="dateSelected">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3" type="submit" style="width:80px">Salva</button>

            

        </div>
      </div>

    </form>
  </div>
</div>