<div class='card' *ngIf='court'>
  <div class='card-header'>
    <h5>{{pageTitle}}</h5>
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-5'>

        <div class='row'>
          <div class='col-md-8'><b>Nome:</b> {{court.name}}</div>
        </div>

        <div class='row'>
          <div class='col-md-4'><b>Sport:</b> {{court.sportString}}</div>
        </div>

        <div class='row' *ngIf="court.sportString==='Calcetto' && court.isSeven">
            <div class='col-md-4'><b>Tipo:</b> Calcio a sette</div>
        </div>

        <div class='row' *ngIf="court.sportString==='Calcetto' && !court.isSeven">
            <div class='col-md-4'><b>Tipo:</b> Calcio a cinque</div>
        </div>

        <div class='row'>
            <div class='col-md-4'><b>Terreno:</b> {{court.terrainString}}</div>
        </div>

        <div class='row'>
          <div class='col-md-4'><b>Prezzo:</b> {{court.price|currency:'EUR':'symbol'}}</div>
        </div>
      </div>

      <!--<div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='getCourtImage()'>
      </div>-->

      <div>
          <a [routerLink]="['/court-insert-reactive', court.id]">
            <button class='btn btn-outline-secondary' style='width:90px'>
              <i class='fa fa-chevron-left'></i> Modifica
            </button>
          </a>
          <br><br>
          <button class='btn btn-danger'
                  style='width:90px' (click)="confirmDeleteCourt($event, court)">
            <i class='fa fa-chevron-left'></i> Cancella
          </button>
      </div>
    
    </div>
  </div>
</div>