<nav class='navbar navbar-expand navbar-light bg-light'>
      <img alt="Angular Logo"
        src="../assets/images/UBSHeader.jpg">
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/courts']">Campi</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/members']">Membri</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/reservations']">Prenotazioni</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/challenges']">Sfide</a></li>
  </ul>
</nav>
<div class='container'>
<router-outlet></router-outlet>
</div>
<router-outlet></router-outlet>
