<div>
    <h2>Queste sono le prenotazioni registrate: </h2> 
      <h6 style="padding-left: 1100px"> <a [routerLink]="['/reservation-insert-reactive', 0]">
        <button class="btn btn-outline-info">Aggiungi prenotazione</button></a> 
      </h6>
</div>  

<div *ngIf="reservations">
<table class='table'>
  <thead>
    <tr>
      <th>Membro</th>
      <th>Campo</th>
      <th>Data di Prenotazione</th>
      <th>Dettagli</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let reservation of reservations'>
      <td> <a [routerLink]="['/members',reservation.memberId]">{{reservation.memberName}} {{reservation.memberSurname}}</a></td>
      <td> <a [routerLink]="['/courts', reservation.courtId]">{{reservation.courtName}}</a></td>
      <td>{{reservation.date |date: 'dd-MM-yyyy HH:mm'}}</td>
      <td> <a [routerLink]="['/reservations', reservation.id]">Vedi</a></td>
    </tr>
  </tbody>
</table>

</div>