<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    
    </div>
<div *ngIf="challenges">

<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Numero Posti Disponibili</th>
      <th>Visualizza Prenotazion</th>
      <!-- <th>Ulteriori Info</th> -->
      <!-- <th>Bottone</th> -->
      <!-- <th>Max Players</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let challenge of challenges'>
      <td><a [routerLink]="['/challenges',challenge.id]">{{challenge.title}}</a></td>
      <td>{{challenge.availableMembers}}</td>
      <td><a [routerLink]="['/reservations',challenge.reservationId]">Visualizza</a></td>
      <!-- <td *ngIf="court.sportType==='tennis'"><input type="checkbox" [checked]="court.isCovered" onclick="return false;">
        <label>Coperto</label></td>
      <td *ngIf="court.sportType==='soccer'"><input type="checkbox" [checked]="court.isSeven" onclick="return false;">
        <label>Calcio a sette</label></td>
      <td><button (click)="displayName($event,court)">Click</button></td>
      <td><app-max-player [maxPlayer]='court.maxPlayer()'
        [sportType]='court.sportType'
        (maxPlayerClicked)='onMaxPlayerClicked($event)'>
      </app-max-player></td> -->
    </tr>
  </tbody>
</table>
</div>
