<div>
    <h2>Queste sono le sfide: </h2> 
</div>  

<div *ngIf="challenges">
<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Posti Disponibili</th>
      <th>Visualizza Prenotazione</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let challenge of challenges'>
      <td>{{challenge.title}}</td>
      <td>{{challenge.availableMembers}}</td>
      <td><a [routerLink]="['/reservations', challenge.reservationId]">Visualizza</a></td>
   
    </tr>
  </tbody>
</table>
</div>
