<div style="text-align:center">
</div>
<div *ngIf="members">
    <h2>Questi sono i membri iscritti: </h2>
<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Data di Registrazione</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let member of members'>
      <td> <a [routerLink]="['/members',member.id]">{{member.name}}</a></td>
      <td>{{member.surname}}</td>
      <td>{{member.dateOfRegistration}}</td>

    </tr>
  </tbody>
</table>

<br>
<a [routerLink]="['/member-insert-reactive']"><button>Nuovo membro</button></a>

</div>
